<?xml version='1.0' encoding='utf-8'?>
<widget id="pt.smartdigit.loginApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap= "http://phonegap.com/ns/1.0">
    <name>loginApp</name>
    <description>
        A simple app to login
    </description>
    <author email="pedro@smartdigit.pt" href="http://www.smartdigit.pt/">
        Pedro Lobo
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	<preference name="phonegap-version" value="3.6.3" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	
	<gap:plugin name="org.apache.cordova.statusbar" version="0.1.4" />
	<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" />
	
	<feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>
	
</widget>
